
body {
    margin: 1rem;
}

th:hover {
    background-color: #FAFAFA;
}
body.dark th:hover {
    background-color: #2d3435;
}

/* fix table darkmode coloring bug */
body.dark .table tbody tr:not(.is-selected):nth-child(2n) {
    background-color: #2d3435;
}
body.dark .table.is-hoverable tbody tr:not(.is-selected):hover {
    background-color: #2d3435;
}
body.dark .table.is-hoverable tbody tr:not(.is-selected):hover:nth-child(2n) {
    background-color: #282f2f;
}

/* dark mode font fix */
body, button, input, optgroup, select, textarea {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.title {
    font-weight: 600;
}

#filter-dropdown {
    margin-bottom: 1rem;
}

#inventory-list thead {
    cursor: pointer;
}

#theme-button {
    float: right;
}

.sort-icon {
    float: right;
}

.ctx-menu-hide { display: none; }

.ctx-menu-show {
    z-index: 999;
    position: absolute;
    display: block;
}