* {
    margin: 0;
    padding: 0;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

body {
    font-family: monospace;
    color: #f0e5bc;
    background-color: #242123;
    border-color: #f0e5bc;
}

main {
    width: 80%;
    padding: 20px;
}

aside {
    position: sticky;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 20%;
}

h2 {
    margin: 20px 0;
}

button, input {
    padding: 1px 6px;
    margin: 10px 0;
}

input::file-selector-button {
    display: none;
}

input[type="number"],
input[type="text"],
input[type="file"],
select {
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(240, 229, 188, 0.056);
    color: rgb(240, 229, 188);
    background: transparent;
    transition: .3s;
}

input:hover,
input:focus,
select:hover,
select:focus {
    border-bottom: 2px solid rgb(240, 229, 188);
    transition: .3s;
}

input[type="button"],
input[type="submit"],
button {
    outline: none;
    border: none;
    border-radius: 2px;
    margin: 10px 0;
    padding: 5px;
    background: rgba(240, 229, 188, 0.73);
    color: rgb(36, 33, 35);
    transition: .2s;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
    background: rgb(240, 229, 188);
    transition: .2s;
}

.ctx_menu_hide { display: none; }

.ctx_menu_show {
    z-index: 999;
    position: absolute;
    display: block;
}

#add_new_item {
    padding: 2px 6px;
}

#item_profile {
    position: absolute;
    z-index: 950;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #faebd7;
    width: 600px;
    height: 500px;
    padding: 16px;
}

#item_profile_rect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 700px;
}


#add_item_rect {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #373135fc;
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
}

#add_item_rect * {
    margin: 10px;
}

#sidebar {
    border-left: 1px solid #f0e5bc;
    padding: 20px;
}

.sidebar_panel {
    padding: 10px 0;
}

.sidebar_panel_title {
    margin: 20px 0;
}

.sidebar_panel_subtitle {
    margin: 0;
}

.sidebar_panel_text {
    margin-left: 20px;
    color: var(--tertiary);
}

.split_vertical {
    display: flex;
    flex-direction: row;
}

.remove_focus {
    animation: rm_focus .2s ease-in forwards;
}

.add_focus {
    animation: add_focus .2s ease-in forwards;
}

@keyframes add_focus {
    0% { opacity: .1; }
    100% { opacity: 1; }
}

@keyframes rm_focus {
    0% { opacity: 1; }
    100% { opacity: .1; }
}
